.CVoucher {
    min-height: 100%;
    min-height: 100vh;
    min-height: 100dvh;

    padding: 5.5rem 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
        text-align: center;
    }

    .mid {
        /* background-color: aqua; */
        padding: 0 2rem;
        display: flex;
        justify-content: center;

        .circle-voucher {
            /* background-color: blue; */
            width: 100%;
            max-width: 37rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                position: absolute;
                /* top: 0; */
                font-size: 2.5rem;
                font-weight: 500;
                color: var(--color-primary);

                transform: translateY(70%);
            }
        }
    }

    .bottom {
        text-align: center;
        font-size: 1.8rem;
        color: var(--color-primary);
    }
}

.Replay {

    .mid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        button, a {
            background-color: var(--color-primary);
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 800;
            padding: 1.3rem 2rem;
            border-radius: 7px;
            text-align: center;
            color: #000;

            width: 100%;
            max-width: 28rem;
        }
    }

    .bottom {
        a {
            text-decoration: underline;
        }
    }
}