/* body:has(.Modal) {
    overflow-y: hidden;
}
body:has(.PreviewCart) {
    overflow-y: hidden;
}
body:has(.Checkout) {
    background-color: var(--color-secundary);
} */

/* GRID LAYOUT */
.grid {
    width: 100%;
    max-width: 520px;

    margin: 0 auto;
}
/* GRID LAYOUT */


/* TIPOGRAFIA */
h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}
p {
    line-height: 100%;
    letter-spacing: 0.5px;
}
/* TIPOGRAFIA */


.hidden {
    opacity: 0;
}



/* ANIMATIONS */
@keyframes showModal {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}
.showModal {
    animation: showModal .5s ease-in-out;
}

@keyframes movendoRight {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(20%);
    }
    
    100% {
        transform: translateX(0%);
    }        
}
.movendoRight {
    animation: movendoRight 2s linear infinite;
}
@keyframes movendoLeft {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-20%);
    }
    
    100% {
        transform: translateX(0%);
    }        
}
.movendoLeft {
    animation: movendoLeft 2s linear infinite;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.fadeIn {
    animation: fadeIn .5s ease;
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
}
.fadeInRight {
    animation: fadeInRight .5s ease;
}

@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
}
.fadeInLeft {
    animation: fadeInLeft .5s ease;
}


@keyframes fadeInTop {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}
.fadeInTop {
    animation: fadeInTop .5s ease;
}

@keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}
.fadeInBottom {
    animation: fadeInBottom .5s ease;
}

@keyframes fadeInZoom {
    0% {
      opacity: 0;
      transform: scale(.5);
    }
    /* 100% {
      opacity: 1;
      transform: translateY(0%);
    } */
}
.fadeInZoom {
    animation: fadeInZoom .6s ease;
}

@keyframes show {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}
.show {
    animation: show .4s ease-in-out;
}

@keyframes showSidebar {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
.showSidebar {
    animation: showSidebar .3s ease-in-out;
}

@keyframes animateRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animateTremida {
    0% {
        transform: rotate(0deg) scale(1);
    }
    25% {
        transform: rotate(-20deg) scale(1.3);
    }
    50% {
        transform: rotate(0deg) scale(0.9);
    }
    100% {
        transform: rotate(25deg) scale(1);
    }
}

@keyframes movendo {
    0% {
        transform: scale(1) translateX(-50%);
    }

    50% {
        transform: scale(1.08) translateX(-40%);
    }
    
    100% {
        transform: scale(1) translateX(-50%);
    }        
}
.movendo {
    animation: movendo 2.5s linear infinite;
}

@keyframes moveDown {
    0% {
        transform: translateY(-1rem);
        filter: drop-shadow(0 0 5px var(--color-primary)) brightness(1);
    }
    50% {
        transform: translateY(0.1rem);
        filter: drop-shadow(0 0 5px var(--color-primary)) brightness(1.1);
    }
    100% {
        transform: translateY(-1rem);
        filter: drop-shadow(0 0 5px var(--color-primary)) brightness(1);
    }
}
.move-down {
    animation: moveDown 2.5s linear infinite;
}

@keyframes fadenInHeigth {
    0% {
        height: 0;
    }
    100% {
        height: auto;
    }
}
.fadenInHeigth {
    animation: fadenInHeigth 1s ease;
}
/* ANIMATIONS */