.Page {
    /* background-color: #4ce6e6; */
    display: flex;
    justify-content: center;
}

.Welcome {
    /* border: 5px solid pink; */
    position: fixed;
    top: 0;
    z-index: 10;

    background-color: var(--color-bg);
    min-height: 100%;
    min-height: 100vh;
    min-height: 100dvh;

    padding: 5.5rem 3rem 7rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
    /* align-items: center; */

    overflow: hidden;

    transition: all .4s ease;

    .bg-welcome {
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 520px;
        height: 100vh;
        height: 100dvh;
        z-index: -1;

        background-image: url(../../../bg-app.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        /* display: flex;
        justify-content: center;
        width: 100%;
        max-width: 520px; */

        /* img {
            max-width: 100%;
            height: 100vh;
            height: 100dvh;
            object-fit: cover;
            opacity: 0.5;
        } */
    }


    .top {
        img {
            max-width: 37rem;

            transition: all .4s ease;
            &.hidden {
                opacity: 0;
            }
        }
    }

    .mid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        h2 {
            font-size: 2.6rem;
            text-align: center;

            span {
                font-weight: 300;
            }
        }
    }

    .bottom {
        p {            
            font-size: 2.2rem;
            text-align: center;
        }
    }

    .controls {
        /* border: 4px solid red; */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        overflow: hidden;

        display: flex;

        .back, .next {
            width: 50%;
            height: 100%;

            i {
                font-size: 5rem;
            }
        }
        .back {
            /* background-color: rgba(255, 0, 0, 0.384); */
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            i {
                transform: translateX(-10px);
            }
        }
        .next {
            /* background-color: rgba(0, 0, 255, 0.521); */
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    /* RESPONSIVIDADE */
    @media (max-height: 600px) {
        padding: 5rem 2rem;

        br {
            display: none;
        }
    }
}

.Welcome.true {
    padding: 2.3rem 3rem;
    justify-content: flex-start;
    gap: 5.5rem;

    &.permissao-total {
        background-color: #0000003d;

        .bg-welcome {
            opacity: 0.6;
        }
    }

    .mid {
        gap: 4rem;

        > p {
            font-size: 2.6rem;
            font-weight: 700;
            text-align: center;
        }
        img {
            max-width: 10rem;
        }
        .text-constelacao {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3rem;
            width: 100%;

            p {
                font-size: 2rem;
                max-width: 15rem;

                span {
                    color: var(--color-primary);
                    font-weight: 600;
                }
            }
            img {
                max-width: 17rem;
            }
        }
    }

    .bottom {
        /* background-color: red; */
        position: absolute;
        bottom: 2rem;

        img {
            max-width: 12rem;
        }
        p {
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translate(-100%, -50%);
            
            font-size: 2.4rem;
            font-weight: 500;
            text-align: center;
        }
    }
}




.a-enter-vr, .a-enter-ar {
    display: none;
}

.a-dialog, .a-dialog-text, .a-dialog-text-container {
    color: #000 !important;
}
.a-dialog-allow-button {
    background-color: #FFDA1C !important;
    width: 100% !important;
    max-width: 100% !important;
    /* margin: 0 auto !important; */
    color: #000;
    font-weight: 600;
}
.a-dialog-deny-button {
    background-color: #fcfcfc !important;
    color: #000;
    outline: 1px solid #000;
    font-weight: 600;
    display: none !important;
}
.a-dialog-ok-button {
    background-color: rgb(0, 162, 255) !important;
}