/* .Page {
    background-color: #4ce6e6;
} */

.Welcome {
    /* border: 5px solid pink; */

    background-color: #0000009c;
    min-height: 100%;
    min-height: 100vh;
    min-height: 100dvh;

    padding: 5.5rem 3rem 7rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
    /* align-items: center; */

    .top {
        img {
            max-width: 37rem;

            transition: all .4s ease;
            &.hidden {
                opacity: 0;
            }
        }
    }

    .mid {
        h1 {
            font-size: 3.3rem;
        }
    }

    .bottom {
        p {            
            font-size: 2.3rem;
            text-align: center;
        }
    }

    .controls {
        /* border: 4px solid red; */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;

        .back, .next {
            width: 50%;
            height: 100%;

            i {
                font-size: 5rem;
            }
        }
        .back {
            /* background-color: rgba(255, 0, 0, 0.384); */
            display: flex;
            justify-content: flex-start;
            align-items: center;
            
            i {
                transform: translateX(-10px);
            }
        }
        .next {
            /* background-color: rgba(0, 0, 255, 0.521); */
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    /* RESPONSIVIDADE */
    @media (max-height: 600px) {
        padding: 5rem 2rem;

        br {
            display: none;
        }
    }
}




.a-enter-vr, .a-enter-ar {
    display: none;
}

.a-dialog, .a-dialog-text, .a-dialog-text-container {
    color: #000 !important;
}
.a-dialog-allow-button {
    background-color: #FFDA1C !important;
    width: 100% !important;
    max-width: 100% !important;
    /* margin: 0 auto !important; */
    color: #000;
    font-weight: 600;
}
.a-dialog-deny-button {
    background-color: #fcfcfc !important;
    color: #000;
    outline: 1px solid #000;
    font-weight: 600;
    display: none !important;
}
.a-dialog-ok-button {
    background-color: rgb(0, 162, 255) !important;
}