body {
    background-color: transparent;
    display: flex;
    justify-content: center;

    .text {
        position: absolute;
        text-align: center;
        bottom: 120px;
        @media (max-width: 400px) {
            @media (max-height: 600px) {
                bottom: 100px;
            }            
        }

        transition: all 1s ease;
        &.ocultar {
            opacity: 0;
        }

        h2 {
            font-size: 2.5rem;
            letter-spacing: 0.8px;
        }
    }


    .a-enter-vr {
        display: none;
    }
}